<ul class="week list-unstyled m-0 p-0" role="list">
    @for (day of days(); track day.key) {
        <li class="day d-flex flex-column align-items-center rounded-3" [class.w-50]="!mobileService.isMobile()" [class.w-100]="mobileService.isMobile()" [class.shadow-sm]="day.today" [class.today]="day.today" [class.text-body-secondary]="!day.today" >
            <span class="day_date opacity-75">
                @if(!mobileService.isMobile()) {
                    <span class="day_month">{{ day.month }}</span> 
                }
                {{ day.date }}
            </span>
            <span class="day_name">{{ day.short }}</span>
            <span class="dot rounded-circle" [class.bg-danger]="day.active" [class.bg-secondary-subtle]="!day.active"></span>
        </li>
    }
</ul>